
#btnLogin {
    float: right;
}

.leftFormSubmit {
    border: 1px solid #2A759F;
    cursor: pointer;
    display: block;
    float: left;
    font: 12px Arial,Helvetica,sans-serif;
    height: 30px;
    width: 78px;
    margin-top: 20px;
}

.formCentered input[type=submit],
.formSubmit {
    border: 1px solid #2A759F;
    cursor: pointer;
    display: block;
    float: right;
    font: 12px Arial,Helvetica,sans-serif;
    height: 30px;
    width: 78px;
}

.formCentered {
    display: block;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.formUpload {
    width: 250px;
}

.formCentered input[type=text],
.formCentered textarea,
.formCentered input[type=password]{
    width: 270px;
    padding: 6px 5px;
    font: 14px Arial, Helvetica, sans-serif;
    color: #417b9d;
    border: 1px solid #5B94B6;
}

.formCentered textarea {
    height: 120px;
}

.register_warning_hidden {
    visibility: hidden;
}

.register_warning_shown {
    visibility: visible;
    padding: 3px;
    border: 1px solid red;
    color: red;
}

.loginSuccessText {
    display: none;
    color: #444444;
}

#greeting {
    color: white;
    position: absolute;
    top: 110px;
    left: 630px;
    width: 300px;
}

#infoQuest {
    color: white;
    position: absolute;
    top: 170px;
    left: 630px;
    width: 300px;
}

.rating_bar {
    width: 300px;
    float: left;
}

.social_bar {
    width: 300px;
    height: 51px;
    float: left;
    padding-top: 10px;
}

#thanksForVoting {
    display: none;
}

#votingError {
    display: none;
}

.thumb_container {
    border: 1px solid #dedede;
    padding: 5px;
    margin: 5px;
    float: left;
    width: 310px;
    height: 240px;
    text-align: center;
}

.thumb_container .thumb_name {
    margin-bottom: 2px;
}

.thumb_container .thumb_meta {
    margin-top: 2px;
}

.page_bar {
    text-align: center;
}

.link_gallery_page {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    padding: 4px;
    display: inline-block;
    /*float: left;*/
    text-align: center;
    margin-right: 2px;
    text-decoration: none;
}

.current_page {
    background-color: #3476a8;
    color: white;
}

#fldEnterComment {
    width: 100%;
}

h3 {
    border-bottom: 1px solid #cacaca;
    margin-top: 10px;
}

#txtSettingsSaved {
    display: none;
    text-align: center;
    font-weight: bold;
}

.hideIfNoTitle {
    display: none;
}

#delete_photo img {
    border: none;
}

.inactive {
    display: none;
}

.noborder a{
    border: 0px;
}

.warning_message {
    border: 1px solid red;
    display: none;
    padding: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.success_message {
    border: 1px solid green;
    display: none;
    padding: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#previewImage {
    margin-bottom: 20px;
    margin-top: 10px;
}

#btnRotateCW {
    background: url('../images/sub_black_rotate_cw.png') no-repeat;
    height: 32px;
    width: 32px;
    border: 0px;
    display: none;
}

#btnRotateCCW {
    background: url('../images/sub_black_rotate_ccw.png') no-repeat;
    height: 32px;
    width: 32px;
    border: 0px;
    display: none;
}

.submission_exif {
    font-style: italic;
    font-size: 12px;
}

.slider {
    width: 400px;
}

.search_page h4 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.search_page .slider_value {
    position: absolute;
    border: 0;
    background: white;
}

#min_iso {
    left: 273px;
}
#max_iso {
    left: 673px;
}
#min_shutter {
    left: 273px;
}
#max_shutter {
    left: 673px;
}
#min_aperture {
    left: 273px;
}
#max_aperture {
    left: 673px;
}
#min_focal {
    left: 273px;
}
#max_focal {
    left: 673px;
}

.img_container {
    text-align: center;
}

.delete_icon {
    background: url(/media/images/delete-48.png) no-repeat;
    width: 50px;
    height: 50px;
}





.floatLeft {
    float: left;
}
